<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/kenzo0p/Wanderlust.git"><i class="fa-brands fa-github" style="color: rgb(1, 1, 1)"></i></a>
            <a href="https://x.com/0mBhor"><i class="fa-brands fa-twitter" style="color: rgb(1, 1, 1)"></i></a>
            <a href="https://linkedin.com/in/ombhor"><i class="fa-brands fa-linkedin" style="color: rgb(1, 1, 1)"></i></a>
           
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>&nbsp;&nbsp;
            <a href="">Terms</a>&nbsp;&nbsp
            <a href="">Sitemap</a>&nbsp;&nbsp
            <a href="">Company details</a>&nbsp;&nbsp
        </div>
    </div>
</footer>